.container {
    margin-top: 20px;
}

.strike {
    text-decoration: line-through;
}

h1 {
    text-align: center;
}

#taskListContainer {
    margin-left: 1px;
    width: 100%;
}

.list-group {
    margin: 10px;
    width: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer>.container {
    text-align: center;
}

#sortBar {
    margin: 5px;
    background-color: #f5f5f5;
    padding: 10px;
}

.sortItem {
    margin-left: 5px;
}